<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>erro 404</title>
    <link rel="icon" type="image/x-icon" href="/components/img/favicon.ico">
    <link rel="stylesheet" href="/components/css/erro404.css">

</head>

<body>
    <div class="deuruin">
        <div class="gradiente">

            <div class="conteudo-erro">
                <h1> 404</h1>
                <p>Essa pagina não existe</p>
                <p></p>

                <div class="botao-case">
                    <a class="botaoefect" href="https://baianos.netlify.app/">PAGINA INICIAL</a>
                </div>

            </div>


        </div>

</body>

</html>