<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baianos Sonolentos</title>
    <link rel="icon" type="image/x-icon" href="/components/img/favicon.ico">
    <link rel="stylesheet" href="/components/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/components/css/cabecalho.css">
    <link rel="stylesheet" href="/components/css/menu-mobile.css">
    <link rel="stylesheet" href="/components/css/pagina-principal.css">
    <link rel="stylesheet" href="/components/css/pagina-sobre-nos.css">
    <link rel="stylesheet" href="/components/css/paginasobreescola.css">

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/components/js/animation.js" defer></script>
</head>

<body>


    <!-- cabecalho do site -->

    <header class="cabecalho-geral">
        <div class="aling-logo-container">


            <div class="logo-container">
                <img src="/components/img/LOGOEEVP.png" alt="">
            </div>

        </div>



        <!-- cabecalho desktop -->

        <div class="cabecalho-desktop">



            <ul class="ul-cabecalho">
                <li class="li-cabecalho">
                    <a class="itens-menu-desktop" href="#conteudo-pagina-principal">Home</a>
                </li>

                <li class="li-cabecalho">
                    <a class="itens-menu-desktop" target="_blank"
                        href="https://playminigames.net/pt/game/windows-95">Eevp</a>
                </li>






                <li class="li-cabecalho">
                    <a class="itens-menu-desktop" target="_blank"
                        href="https://playminigames.net/pt/game/windows-95">Depoimentos</a>
                </li>

                <!-- <li class="li-cabecalho">
                    <a class="itens-menu-desktop" target="_blank"
                        href="https://playminigames.net/pt/game/windows-95">Professor</a>
                </li> -->

                <li class="li-cabecalho containerdropdownli">
                    <a class="itens-menu-desktop dropdown-link">Professor <span class="arrow">&#9662;</span></a>
                    <ul class="dropdown">
                        <li class="dropdown-li">
                            <a href="">Área do professor</a>
                        </li>
                        <li class="dropdown-li ">
                            <a href="">Painel De Notas</a>
                        </li>
                        <li class="dropdown-li">
                            <a href=""> Hórarios</a>
                        </li>
                        <li class="dropdown-li">
                            <a href="">calendário de avaliacões</a>
                        </li>

                    </ul>
                </li>




                <li class="li-cabecalho containerdropdownli">
                    <a class="itens-menu-desktop dropdown-link">Aluno <span class="arrow">&#9662;</span> </a>
                    <ul class="dropdown">
                        <li class="dropdown-li">
                            <a href="">Área do aluno</a>
                        </li>
                        <li class="dropdown-li">
                            <a href="">Matriculas</a>
                        </li>
                        <li class="dropdown-li">
                            <a href="">Alunos Destaques</a>
                        </li>
                        <li class="dropdown-li">
                            <a href=""> Hórarios</a>
                        </li>

                        <li class="dropdown-li">
                            <a href=""> Boletin</a>
                        </li>
                        <li class="dropdown-li">
                            <a href="">Provas</a>
                        </li>
                        <li class="dropdown-li">
                            <a href="">Notas</a>
                        </li>

                    </ul>
                </li>



                <!-- <li class="li-cabecalho">
                    <a class="itens-menu-desktop" target="_blank"
                        href="https://playminigames.net/pt/game/windows-95">Aluno</a>
                </li> -->




                <li class="li-cabecalho">
                    <a class="itens-menu-desktop" href="#conteudo-pagina-sobrenos">Sobre nós</a>
                </li>

            </ul>




        </div>



        <!-- cabecalho mobile -->

        <div class="cabecalho-mobile">

            <button class="btn-menu animarmenumobilefunctiononclick">
                <span class="linha"></span>

                <span class="linha linhameio"></span>

                <span class="linha"></span>
            </button>

        </div>


        <div class="container-cabecalho-direito">


            <div>
                <button class="buttonContato">contato</button>
            </div>

            <div id="icon-tema">

                <div id="icon-temu"> </div>

            </div>


        </div>


    </header>



    <!-- menu de navegacao mobile -->
    <div class="menu-mobile">

        <div class="menumobile-aling">


            <nav>

                <ul>
                    <li>
                        <a class="animarmenumobilefunctiononclick" href="#conteudo-pagina-principal">Home</a>
                    </li>

                    <li>
                        <a class="animarmenumobilefunctiononclick" href="#conteudo-pagina-sobrenos">Eevp</a>
                    </li>

                    <li>
                        <a class="animarmenumobilefunctiononclick" target="_blank"
                            href="https://baianos.netlify.app/windows95">Depoimentos</a>
                    </li>

                    <li>
                        <a class="animarmenumobilefunctiononclick" target="_blank"
                            href="https://baianos.netlify.app/windows95">Área do professor </a>
                    </li>
                    <li>
                        <a class="animarmenumobilefunctiononclick" target="_blank"
                            href="https://baianos.netlify.app/windows95"> Área do aluno</a>
                    </li>
                    <li>
                        <a class="animarmenumobilefunctiononclick" target="_blank"
                            href="https://baianos.netlify.app/windows95">Sobre nós</a>
                    </li>

                    <li>
                        <a class="animarmenumobilefunctiononclick" target="_blank"
                            href="https://baianos.netlify.app/windows95">Contato</a>
                    </li>


                </ul>

            </nav>

        </div>


    </div>


    <div class="overlay" id="overlay"></div>
    <!-- pagina principal -->



       


    <section id="conteudo-pagina-principal">

                  <div class="sobre-tiopaulo"></div>
    
                   <div class="img-lapis"><img src="/components/img/lapiscamada.png" alt=""></div>
                   
             
      
         <div class="container-center-principal">

       
        <div class="sections-principal">
            <div class="container-frase-banner-principal">
                <img class="frase-banner-principal efeito-animation06" src="/components/img/FRASE.png" alt="">
            </div>
            <div class="container-professor-banner-principal">
                <img class="professor-banner-principal  efeito-animation05" src="/components/img/PROFESSOR.png" alt="">
            </div> 
        </div>

    </section>

    <!-- pagina sobre nos -->


 


    <section id="" class="container2">
        <div class=" card-sobre">

            <div class="div-img-aling-eevp " > 
                <img src="/components/img/banner1.jpg" alt="" >
            </div>

            <div>
                <h1> escola</h1>
            </div>
            

        </div>






    </section>






    <!-- roda pé -->
    <footer>
        <p>Baianos Sonolentos</p>
    </footer>





    <!-- scripts -->
    <script src="/components/js/darkmode.js"></script>
    <script src="/components/js/mobile-menu.js"></script>
</body>

</html>