<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simulador</title>
    <link rel="icon" type="image/x-icon" href="/components/img/favicon.ico">
    <link rel="stylesheet" href="/components/css/simulador.css">
</head>

<body>
    <div class="deuruin">
        <div class="gradiente">

            <div class="conteudo-erro">
                <h1> TRISTE</h1>
                <p>Seu dispositivo não é compativel com o simulador</p>
                <p>deseja testar mesmo assim?</p>

                <div class="botao-case">
                    <a class="botaoefect" href="https://playminigames.net/pt/game/windows-95">SIMULADOR</a>
                    <a class="botaoefect" href="https://baianos.netlify.app/">PAGINA INICIAL</a>
                </div>
                
            </div>
        </div>

</body>

</html>